:root{
    --primeira-cor:"#591d65";
* { --segundo-cor:"#f5a6ea";

    --borda:"#1859c9";

    --fundo:"#a2faf3";
    --text:"#022d50";


    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fundo);
    color: var(--text);
    font-size: 30px;
}

h1 {
    color:var(primera-cor);
}

  .conteudo {
      display: flex;
      min-height: 200px 
  }

  .conteudo>.esquedar>img {
   width: 70px; 
   height: 70px;
  } 
